@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.containerModal{
    position:fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(143, 140, 140, 0.4);
    font-family: 'Montserrat', sans-serif;
    opacity:0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.activeModal{
    opacity: 1;
    visibility: visible;
}
.content{
    position: relative;
    width: 400px;
    padding: 1rem;
    margin: 15% auto;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.125);
    transition: 0.3s ease-in-out;
    animation: msg 3s forwards;
}
.solution{
    text-transform: uppercase ;
    font-weight: bold ;
    margin-left: 1rem;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btnClose{    
    margin-top: 1rem;
    background: transparent;
    border: 1px solid #9e3d91;
    border-radius: 1rem;
    width: 7rem;
    padding: 0.6rem;
    
}
.btnClose:hover{
    background: #df38c8;
}
.xContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0;
}
.x{
    font-size: 1.5rem;
    color: #9e3d91;
}
.x:hover{
    cursor: pointer;
}
.title{
    margin-top: 0;
}
@keyframes msg {
    0%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(50px);
    }
}